    <div class="accordion" id="accordionJoplinFolder">
      <div class="card">
        <div class="card-header" id="headingJoplinFolder">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseJoplinFolder" aria-expanded="true" aria-controls="collapseJoplinFolder">
              <i class="fas fa-folder-open"></i> Folders
            </button>
          </h2>
        </div>
        <div id="collapseJoplinFolder" class="collapse show" aria-labelledby="headingJoplinFolder" data-parent="#accordionJoplinFolder">
          <div id="folders_tree"></div>
        </div>
      </div>
    </div>
{% block extra_js %}
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
  $.ajax({url: '/folders',
            type: 'get',
            dataType: 'json',
    }).done(function(data) {
        $('#folders_tree').bstreeview({
          data: data,
          expandIcon: 'fa fa-angle-down fa-fw',
          collapseIcon: 'fa fa-angle-right fa-fw',
          indent: 1.25,
          parentsMarginLeft: '1.25rem',
          openNodeLinkOnNewTab: false
        });
    })
  });
//]]>
</script>
{% endblock %}
