{% for note in notes %}
  <div class="card">
    <div class="card-body">
        {% if folder_id %}
        <h5 class="card-title"><a href="/notes/{{ note.id }}?folder_id={{ note.parent_id }}">{{ note.title }}</a></h5>
        {% elif tag_id %}
        <h5 class="card-title"><a href="/notes/{{ note.id }}?tag_id={{ tag_id }}">{{ note.title }}</a></h5>
        {% else %}
        <h5 class="card-title"><a href="/notes/{{ note.id }}">{{ note.title }}</a></h5>
        {% for tag in note.tag %}
        <p class="card-text">
            <small class="text-muted"><a href="/notes/tag/{{ tag.id }}" class="btn btn-outline-success" role="button">{{ tag.title }}</a></small>
        </p>
        {% endfor %}
        {% endif %}
    </div>
  </div>
{% endfor %}
